/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General */
body {
  font-family: 'Times New Roman', Times, serif;
}

/* Header */
header {
  height: 80px;
  background-color: darkgray;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 30px;
}
button,
select {
  font-size: 30px;
  margin-left: 30px;
  padding: 5px 20px;
}

/* hide */
.hide {
  display: none;
}

/* main */
.main-wrapper {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  height: 900px;
}

/* boxes */
.box {
  border: 2px solid white;
  cursor: pointer;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: green;
}

/* boxes width*/
.width-10 {
  width: calc(100% / 10);
}

.width-9 {
  width: calc(100% / 9);
}

.width-7 {
  width: calc(100% / 7);
}

/* clear boxes */
.clicked {
  background-color: blue;
}

/* bomb box */
.clicked.bomb {
  background-color: red;
  background-image: url('../img/bomb.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}